        /* 우리가 이 안에 넣은 Style Sheets 정보를 컴퓨터가 읽어서 HTML에 적용 */
        
        
        /* Header */
        h1{
            text-align: center;
            font-size:50px;
        }
        h1>a{color:darkblue;
            text-decoration: none;
        }
        /* Nav */
        li>a{
            color:darkolivegreen;
            text-decoration: none;
            }
        li{
            font-size:20px; color:darkblue;
        }
        .ping_list{color: pink;}
        #id {color:green;}
        /* Main */
        h2{
            font-size:30px;
            color: hsl(hue, saturation, lightness);
            text-align: center;
        }

        div{
        }
        .home{
            display:grid;
            grid-template-columns: 200px 4fr;
            border-top: 1px solid darkslateblue;
        }
        .room1{
            border-right: 1px solid darkslateblue;
        }
        .room2{
            padding-left: 10px;
        }
        /* 만약 스마트폰으로 접속한다면 아래의 CSS 정보를 적용한다. */
        /* 반응형 디자인 */
        @media(max-width:600px){
            body{
                background-color: ivory;
            }
            h1{
                font-size:30px;border-bottom: none;
            }
            .home{
                display: block;
            }
            img{
                width:40%;
            }
        }