#chat-screen{
    background-color: #abc1d1;
    height: 500vh;
}
#chat-screnn .status-bar,
#chat-screen .alt-haeder{
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}

#chat-screen .alt-haeder{
    top: 20px;
    z-index: 2;
}
#chat-screen .status-bar{
    z-index: 1;
}

@keyframes fadeIn{
    from{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.main-chat{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s linear;
    
}
.main-chat__timestamp{
    color: white;
    background-color: #92a4b2;

    padding: 15px;
    border-radius: 25px;
    margin-bottom: 20px;
}
.message-row{
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
    margin-bottom: 20px;
}
.message-row img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.message__author{
    font-size: 18px;
    margin-bottom:5px;
    display: block;
    opacity: 0.8;

}
.message__bubble{
    background-color: white;
    padding: 13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
    font-size: 18px;
}

.message__info{
    display: flex;
    align-items: flex-end;
    
}
.message__time{
    opacity: 0.8;
    font-size: 13px;
}
.message-row__own .message__bubble{
    background-color: var(--yellow);
    border-radius: 15px;
    border-top-right-radius: 0px;
    margin-right: 0px;
    margin-left:5px;
}
.message-row__own{
    justify-content: flex-end;
}

.message-row__own .message__bubble{
    order: 1;
}
.message-row__own .message__time{
    order: 0;
}

/* reply*/
.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;

    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
}
.reply .reply__column:first-child{
    width: 10%;
    /* background-color: ; */
}
.reply .reply__column:last-child{
    width: 90%;
    
}

.reply input{
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    padding : 10px;
    
}
.reply__column:last-child > i{
    position:absolute;
    right:52px;
    top:15px;
    opacity: 0.5;
}
.reply__column:last-child>button{
    position:absolute;
    right:12px;
    top: 8px;
    background-color: var(--yellow);
    border: none;
    width: 30px;
    height: 30px;
    /* padding-right: 10px; */
    border-radius: 50%;
}
.reply {
    opacity: 0.5;
}

/* .reply__column button:focus,
.reply__column button:active{
    outline:none;
    background-color: tomato;
} */

.reply__column button i{
    opacity: 1;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button{
    transition: opacity .3s ease-in-out;
}